
<div class="header-wrapper">
  <header class="header">
    <img src="/assets/icons/softbreez.png" alt="Check" class="logo" />
  <nav [class.open]="menuOpen">
    <ul class="nav-list">
      <li><a href="#our-services">Naše Služby</a></li>
      <li><a href="#technologies">Technologie</a></li>
      <li><a href="#about">O nás</a></li>
       <li><a href="#steps">Náš proces</a></li>
         <li><a href="#why-us">Proč právě my</a></li>

    </ul>
  </nav>
  <button class="btn-primary" (click)="goToContact()">Kontaktujte nás nyní</button>
  <button class="menu-toggle" (click)="toggleMenu()">
    ☰
  </button>

</header>

<div class="header-container">
  <div class="after-header-text">
  <div class="row-with-icon"> 
  <span class="text">Neprodáváme kód. Dodáváme řešení.</span>
  <img src="/assets/icons/rocket.svg" alt="Check" class="icon" />
</div>
  <h1>Tvoříme digitální produkty, které dávají smysl</h1>
  <p>Jsme mladý a ambiciózní tým, který promění vaše nápady ve funkční a chytrá IT řešení. Společně vytvoříme něco výjimečného.</p>
</div>

<div class="header-buttons">
  <button (click)="goToContact()" class="btn-primary">Napište nám</button>
  <button class="btn-secondary">
      <img src="/assets/icons/about-us.png" alt="Check" class="icon" />
    Více o nas</button>
</div>
</div>
</div>

