<header class="header" id="site-header">
    <img src="/assets/icons/uion_black.svg" alt="Check" class="logo"/>
    <nav [class.open]="menuOpen">
      <div>
        <ul class="nav-list">
          <li><a href="#our-services">Naše Služby</a></li>
      <li><a href="#technologies">Technologie</a></li>
      <li><a href="#about">O nás</a></li>
       <li><a href="#steps">Náš proces</a></li>
         <li><a href="#why-us">Proč právě my</a></li>
        </ul>
          <button class="btn-primary" (click)="goToContact()">Kontaktujte nás nyní</button>
      </div>
    </nav>
       <button class="btn-primary contacts-desctop" (click)="goToContact()">Kontaktujte nás nyní</button>
    <button class="menu-toggle" (click)="toggleMenu()">
      {{menuOpen ? "✕" : "☰"}}
    </button>
  </header>
<div class="header-wrapper">

  <div class="header-container">
    <div class="after-header-text">
      <div class="row-with-icon">
        
        <span class="text">Neprodáváme kód. Dodáváme řešení.</span>
        <img src="/assets/icons/rocket.svg" alt="Check" class="icon"/>
      </div>
      <h1>Budujeme chytrá řešení pro zítřek</h1>
      <p>Mladí, ambiciózní a připraveni proměnit vaše nápady v efektivní digitální řešení. Pojďme společně vytvořit něco
        skvělého.</p>
    </div>

    <div class="header-buttons">
      <button class="btn-primary">Napište nám</button>
      <button class="btn-secondary">
        <img src="/assets/icons/about-us.png" alt="Check" class="icon"/>
        Více o nas
      </button>
    </div>
  </div>
</div>

