<h1>Zásady ochrany osobních údajů</h1>
<p>Poslední aktualizace: 1. srpna 2025</p>
<div class="section">
  <h2>1. Úvod</h2>
  <p>
    Tyto zásady ochrany osobních údajů popisují, jak www.uion.cz (dále jen "Poskytovatel", Maksim Bulanovich,  IČO: 21886261) zpracovává osobní údaje návštěvníků webu www.uion.cz a zájemců o služby.
  </p>
</div>

<div class="section">
  <h2>2. Jaké údaje sbíráme</h2>
  <p>
    Prostřednictvím kontaktního formuláře shromažďujeme: jméno, příjmení, e-mail, zprávu a případně telefonní číslo.
  </p>
</div>

<div class="section">
  <h2>3. Jak údaje získáváme</h2>
  <p>
    Údaje jsou získávány výhradně prostřednictvím kontaktního formuláře na našem webu. Dále využíváme analytické nástroje Google Analytics a Vercel Analytics, které mohou automaticky sbírat anonymní technická data o návštěvnosti (např. IP adresa, typ zařízení, země, chování na webu).
  </p>
</div>

<div class="section">
  <h2>4. Účel zpracování údajů</h2>
  <p>
    Osobní údaje zpracováváme za účelem odpovědi na vaši poptávku, zlepšování našich služeb (analytika) a v omezené míře i marketingové komunikace.
  </p>
</div>

<div class="section">
  <h2>5. Kdo má k údajům přístup</h2>
  <p>
    K údajům má přístup výhradně provozovatel UION (Maksim Bulanovich). Služby Google Analytics a Vercel Analytics mohou přistupovat k anonymizovaným údajům, a to dle vlastních zásad ochrany osobních údajů těchto služeb.
  </p>
</div>

<div class="section">
  <h2>6. Uchovávání údajů</h2>
  <p>
    Vaše osobní údaje uchováváme maximálně po dobu 3 let, pokud zákon nevyžaduje delší dobu uchování nebo pokud nedojde k uzavření smluvního vztahu.
  </p>
</div>

<div class="section">
  <h2>7. Cookies</h2>
  <p>
    Web využívá soubory cookies. Používáme zejména analytické cookies třetích stran (Google Analytics a Vercel Analytics), které pomáhají sledovat návštěvnost a chování uživatelů. Používáním webu s tímto souhlasíte.
  </p>
</div>

<div class="section">
  <h2>8. Práva subjektu údajů</h2>
  <p>
    Máte právo požádat o přístup k osobním údajům, jejich opravu, výmaz nebo omezení zpracování. Své právo můžete uplatnit e-mailem na <a href="mailto:max@uion.cz">max&#64;uion.cz</a>.
  </p>
</div>

<div class="section">
  <h2>9. Pověřenec pro ochranu osobních údajů</h2>
  <p>
    Poskytovatel nemá ustanoveného pověřence pro ochranu osobních údajů (DPO), jelikož to legislativa nevyžaduje.
  </p>
</div>

<div class="section">
  <h2>10. Změny zásad</h2>
  <p>
    Tyto zásady mohou být aktualizovány. Aktuální verze je vždy dostupná na webu <strong>www.uion.cz</strong>.
  </p>
</div>

<div class="section">
  <h2>11. Kontakt</h2>
  <p>
    V případě dotazů nebo požadavků ohledně zpracování osobních údajů nás prosím kontaktujte na <a href="mailto:max@uion.cz">max&#64;uion.cz</a>.
  </p>
</div>