<div id="about" class="about-column">
  <h2>Small Team, Big Ideas</h2>
  <p>
    Jsme sice malý tým, ale naše oddanost a kreativita neznají hranic. Každému projektu věnujeme plnou pozornost,
    hluboké know-how a individuální přístup.
  </p>

  <div class="carousel-container">
    <button class="carousel-btn prev-btn" (click)="previousCard()" [class.disabled]="currentIndex === 0" *ngIf="isMobile">
      ‹
    </button>

    <div class="card-grid" #cardGrid>
      <app-about-us-card
      [imageUrl]="'/assets/people/test.jpg'"
        [nameSurname]="'Max Bulanovich'"
        [position]="'Mobile Developer & Project Lead'"
        [description]="'Každý řádek kódu...'">
      </app-about-us-card>

      <app-about-us-card
        [imageUrl]="'/assets/people/sergei.png'"
        [nameSurname]="'Sergei Voytenkov'"
        [position]="'Flutter Developer'"
        [description]="'Tvorba kódu je pro mě...'">
      </app-about-us-card>

      <app-about-us-card
        [imageUrl]="'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOuxrvcNMfGLh73uKP1QqYpKoCB0JLXiBMvA&s'"
        [nameSurname]="'Ulan'"
        [position]="'UI/UX Designer'"
        [description]="'Věřím, že design není jen o vzhledu...'">
      </app-about-us-card>

      <app-about-us-card
        [imageUrl]="'/assets/people/andrej.png'"
        [nameSurname]="'Andrej Manajlo'"
        [position]="'Web Developer & Designer'"
        [description]="'Tvořím s radostí a smyslem pro užitek...'">
      </app-about-us-card>
    </div>

    <button class="carousel-btn next-btn" (click)="nextCard()" [class.disabled]="currentIndex === totalCards - 1" *ngIf="isMobile">
      ›
    </button>
  </div>
</div>
