<div id="about" class="about-column">
  <h2>Small Team, Big Ideas</h2>
  <p>
    Jsme sice malý tým, ale naše oddanost a kreativita neznají hranic. Každému projektu věnujeme plnou pozornost,
    hluboké know-how a individuální přístup.
  </p>

  <div class="carousel-container">
    <button class="carousel-btn prev-btn" (click)="previousCard()" [class.disabled]="currentIndex === 0" *ngIf="isMobile">
      ‹
    </button>

    <div class="card-grid" #cardGrid>
      <app-about-us-card
      [imageUrl]="'/assets/people/me2.jpg'"
        [nameSurname]="'Max Bulanovich'"
        [position]="'Mobile Developer & Project Lead'"
        [description]="'Každý řádek kódu, který píšu, má být užitečný pro koncového uživatele. Chci, aby se uživatel při používání mobilní aplikace nebo webu setkával s co nejméně otázkami. Podle mého názoru je úspěch jakéhokoli produktu založen na dobré analýze uživatelů a srozumitelném UI/UX. Není důležité dělat co nejvíce funkcí, ale soustředit se na to, co uživatel skutečně potřebuje, a udělat to co nejlépe.'">
      </app-about-us-card>

      <app-about-us-card
        [imageUrl]="'/assets/people/sergei.png'"
        [nameSurname]="'Sergei Voytenkov'"
        [position]="'Flutter Developer'"
        [description]="'Tvorba kódu je pro mě podobná stavbě domu nebo pěstování stromu, spojená s malováním obrazu či psaním hudby – každá detail má svůj význam při konstrukci, a zároveň tvůrčí proces nutí naplno zapojit představivost.'">
      </app-about-us-card>

      <app-about-us-card
        [imageUrl]="'/assets/people/user.png'"
        [nameSurname]="'Ulan'"
        [position]="'UI/UX Designer'"
        [description]="'Design pro mě není jen práce – je to způsob, jak pomáhat lidem snadněji chápat a používat technologie. Baví mě vytvářet intuitivní a příjemné zážitky, kde každý detail má svůj význam a každý krok uživatele je promyšlený. V tom procesu spojuju logiku s kreativitou a každý dokončený projekt mi dává pocit, že má smysl.'">
      </app-about-us-card>

      <app-about-us-card
        [imageUrl]="'/assets/people/andrej.png'"
        [nameSurname]="'Andrej Manajlo'"
        [position]="'Web Developer & Designer'"
        [description]="'Tvořím s radostí a se smyslem pro užitek. Programování mě baví, protože můžu vytvářet věci, které lidem opravdu slouží. Nejlepší pocit mám, když to, co udělám, někomu zjednoduší život nebo mu prostě udělá radost. Věřím, že i jednoduchá řešení mohou být silná – pokud dávají smysl a jsou dobře promyšlená.'">
      </app-about-us-card>
    </div>

    <button class="carousel-btn next-btn" (click)="nextCard()" [class.disabled]="currentIndex === totalCards - 1" *ngIf="isMobile">
      ›
    </button>
  </div>
</div>
