<div class="form-container">
  <h2>Contacts</h2>
  <p class="sub-title">These contacts are used to inform about orders</p>
  <form (ngSubmit)="onSubmit()" [formGroup]="contactForm">
    <div class="form-field">
      <label for="telephone">Telephone</label>
      <input class="input-underline" id="telephone" formControlName="telephone" type="tel" placeholder="Enter your phone number">
      <div *ngIf="telephone.invalid && (telephone.dirty || telephone.touched)" class="error">
        <small *ngIf="telephone.errors?.['required']">Telephone is required.</small>
        <small *ngIf="telephone.errors?.['pattern']">Please enter a valid phone number.</small>
      </div>
    </div>

    <div class="form-field">
      <label for="email">Email</label>
      <input class="input-underline" id="email" formControlName="email" type="email" placeholder="Enter your email">
      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error">
        <small *ngIf="email.errors?.['required']">Email is required.</small>
        <small *ngIf="email.errors?.['email']">Please enter a valid email.</small>
      </div>
    </div>

    <button type="submit" [disabled]="contactForm.invalid">Send</button>
  </form>
</div>
