<div class="carousel-row-wrapper">
  <div class="carousel-wrapper scroll-right">
    <div class="carousel">
      <div class="carousel-item" *ngFor="let tech of technologiesFirstRow">
        <img [src]="tech.iconSrc" [alt]="tech.iconAlt" />
        <span>{{ tech.name }}</span>
      </div>
      <div class="carousel-item" *ngFor="let tech of technologiesFirstRow">
        <img [src]="tech.iconSrc" [alt]="tech.iconAlt" />
        <span>{{ tech.name }}</span>
      </div>
    </div>
  </div>
</div>
