<footer class="footer">
  <div class="footer-container">
    <div class="footer-main">
      <div class="footer-brand">
      <h1>Uion Softwares</h1>
        <p class="footer-tagline">Tvoříme digitální produkty, které dávají smysl</p>
      </div>
      
      <nav class="footer-nav">
        <ul class="footer-nav-list">
          <li><a href="#our-services">Naše Služby</a></li>
          <li><a href="#technologies">Technologie</a></li>
          <li><a href="#about">O nás</a></li>
          <li><a href="#steps">Náš proces</a></li>
          <li><a href="#why-us">Proč právě my</a></li>
        </ul>
        <button class="btn-primary" (click)="goToContact()">Kontaktujte nás nyní</button>
      </nav>
      
      <div class="footer-actions">
        <div class="social-icons">
          <a href="#" aria-label="LinkedIn" class="social-link">
            <img src="/assets/icons/linkedin_icon.svg" alt="LinkedIn">
          </a>
         
        </div>
      </div>
    </div>
    
    <div class="footer-bottom">
      <div class="footer-divider"></div>
      <div class="footer-copyright">
        <p>© 2025 Uion Softwares | Všechna práva vyhrazena</p>
        <div class="footer-links">
          <a href="#privacy">Ochrana soukromí</a>
          <a href="#terms">Obchodní podmínky</a>
        </div>
      </div>
    </div>
  </div>
</footer>
