.after-header-text {
  padding: 2rem;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
}

.container {
  position: relative;
  margin: auto;
  max-width: 1400px;
  margin-top: 40px;
  margin-bottom: 40px;

  display: flex;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 90px); /* максимум 3 колонки */
  row-gap: 180px; // reduced vertical spacing
  column-gap: 400px;
  position: relative;
  z-index: 1;
  margin: 0 90px;
  justify-content: center;

  @media (max-width: 480px) {
    grid-template-columns: 90px; /* при < 576px — 1 колонка */
    column-gap: 60px;
  }

  // от 390px до 576px
  @media (min-width: 480px) and (max-width: 575.98px) {
    grid-template-columns: repeat(2, 90px); /* при < 992px — 2 колонки */
    column-gap: 100px;
  }

  // от 576px до 992px
  @media (min-width: 576px) and (max-width: 991.98px) {
    grid-template-columns: repeat(2, 90px); /* при < 992px — 2 колонки */
    column-gap: 150px;
  }

  // от 992px до 1200px
  @media (min-width: 992px) and (max-width: 1199.98px) {
    grid-template-columns: repeat(3, 90px); /* при < 992px — 2 колонки */
    column-gap: 150px;
  }

  // от 1200px до 1400px
  @media (min-width: 1200px) and (max-width: 1399.98px) {
    grid-template-columns: repeat(3, 90px); /* при < 992px — 2 колонки */
    column-gap: 200px;
  }
  @media (min-width: 1400px) and (max-width: 1600px) {
    grid-template-columns: repeat(3, 90px); /* при < 992px — 2 колонки */
    column-gap: 300px;
  }
}

.step {
  position: relative;
  width: 85px;
  height: 85px;
  border: 1px solid #ecedee;
  border-radius: 50%;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 0px 0px 20px 1px #0000000d;

  &.border-light {
    border: 2.1px solid #5fa8ff;
    box-shadow: 0px 0px 20px 0.5px #4f9fff4d;
  }

  .tool {
    position: absolute;
    top: 100px;
    width: max-content;

    .titlee {
      margin-top: 3px;
      color: #000000;
      font-size: 1.1rem;
      font-weight: 500;
      letter-spacing: 0.32px;
      text-align: center;
      color: #252525;
      font-family: "Generalsans", sans-serif;
      margin-bottom: 9px;
      display: flex;
      flex-direction: column; // stack number above title
      gap: 5px; // vertical space between number and title

      .step-number {
        color: #5fa8ff;
        font-weight: 600;
      }
    }

    .desc {
      color: #3f3f3fe0;
      font-weight: 300;
      max-width: 180px;
      font-size: 13px;
      letter-spacing: 0.45px;
      text-align: center;
      line-height: 14px;
      font-family: "Generalsans", sans-serif;
    }
  }
}

svg.connector {
  position: absolute;
  top: 0;
  overflow: visible;
  z-index: 0;
  pointer-events: none;
}

h2 {
  text-align: center;
  max-width: 600px;
  margin: 0;
  font-family: "Geist", sans-serif;
  font-weight: 600;
  font-size: 3rem;
  line-height: 3.5rem;
  color: #242424;
  margin-bottom: 20px;
}

p {
  align-items: center;
  max-width: 800px;
  margin: 0;
  line-height: 1.5rem;
  color: #3f3f3fe0;
  font-weight: 300;
  font-size: 1rem;
  font-family: "Generalsans", sans-serif;
  margin-bottom: 40px;
  text-align: center;
}
