<div class="after-header-text">
  <h1>Průběh spolupráce</h1>
  <p>Loremf Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took</p>
</div>
<div class="container">
  <svg class="connector" #svgConnector></svg>
  <div class="grid" #grid id="steps">
    <div class="step border-light">
      <img ngSrc="assets/icons/34cf3f7ba801f012b0bd57b95a2854e639c47fc9.png" alt="" height="32" width="32">
      <div class="tool">
        <div class="titlee">Úvod</div>
        <div class="desc">Zjišťujeme vaše cíle a představy o projektu.</div>
      </div>
    </div>
    <div class="step">
      <img ngSrc="assets/icons/2b1d83b8edc35c5ce0885855058bb42919a61ffb.png" alt="" height="32" width="32">
      <div class="tool">
        <div class="titlee">Průzkum</div>
        <div class="desc">Analyzujeme konkurenci a hledáme nejlepší řešení.</div>
      </div>
    </div>
    <div class="step">
      <img ngSrc="assets/icons/22e0338b18b570287d96876bacf76849478685eb.png" alt="" height="32" width="32">
      <div class="tool">
        <div class="titlee">Koncept</div>
        <div class="desc"> Navrhujeme obsah, strukturu a směr projektu</div>
      </div>
    </div>
    <div class="step">
      <img ngSrc="assets/icons/495ec3c3c85b699acb0612e56ebda7c56da0699a.png" alt="" height="32" width="32">
      <div class="tool">
        <div class="titlee">Návrh</div>
        <div class="desc">Připravujeme moderní a funkční design</div>
      </div>
    </div>
    <div class="step border-light">
      <img ngSrc="assets/icons/1fcc613b3706d55099b621980a15d2567754ac15.png" alt="" height="32" width="32">
      <div class="tool">
        <div class="titlee">Vývoj</div>
        <div class="desc"> Programujeme a přidáváme požadované funkce</div>
      </div>
    </div>
    <div class="step">
      <img ngSrc="assets/icons/004ba232d021f835f7e0dc438781baf466ec8ff6.png" alt="" height="32" width="32">
      <div class="tool">
        <div class="titlee">Náhled</div>
        <div class="desc">Sdílíme první verzi a sbíráme zpětnou vazbu</div>
      </div>
    </div>
    <div class="step">
      <img ngSrc="assets/icons/4ec19940055789debc02dfa6b548a0e51f9cd251.png" alt="" height="32" width="32">
      <div class="tool">
        <div class="titlee">Testování</div>
        <div class="desc">Testujeme výkon, responzivitu a chyby</div>
      </div>
    </div>
    <div class="step">
      <img ngSrc="assets/icons/4ec19940055789debc02dfa6b548a0e51f9cd251.png" alt="" height="32" width="32">
      <div class="tool">
        <div class="titlee">Testování</div>
        <div class="desc">Testujeme výkon, responzivitu a chyby</div>
      </div>
    </div>
    <div class="step border-light">
      <img ngSrc="assets/icons/69394be05937f95a1577e848b4fafba5a9730e99.png" alt="" height="32" width="32">
      <div class="tool">
        <div class="titlee">Spuštění</div>
        <div class="desc">Spouštíme projekt a dolaďujeme detaily</div>
      </div>
    </div>
  </div>
</div>
