@font-face {
  font-display: swap;
  font-family: "Geist";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/geist/Geist-Regular.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Geist";
  font-style: normal;
  font-weight: 500;
  src: url("/assets/fonts/geist/Geist-Medium.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Geist";
  font-style: normal;
  font-weight: 600;
  src: url("/assets/fonts/geist/Geist-SemiBold.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Geist";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/geist/Geist-Bold.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Geist";
  font-style: normal;
  font-weight: 800;
  src: url("/assets/fonts/geist/Geist-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Generalsans";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/generalsans/GeneralSans-Regular.ttf")
    format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Generalsans";
  font-style: normal;
  font-weight: 500;
  src: url("/assets/fonts/generalsans/GeneralSans-Medium.ttf")
    format("truetype");
}
