
<div id="our-services" class="main-content">
  <h2>Naše Služby</h2>
  <p>Jsme IT nadšenci, kteří věří, že inovace mohou posunout váš byznys kupředu. S vášní pro technologie a neustálým hledáním nových možností přinášíme efektivní a na míru šitá řešení, která pomáhají vašemu podnikání růst.</p>
  <div class="card-grid">
  <app-product-card
    *ngFor="let card of cards"
    [icon]="card.icon"
    [title]="card.title"
    [description]="card.description"
  ></app-product-card>
</div>
<div class="action-card">
  <div class="action-card-left">
    <h2>Začínáte podnikat?</h2>
    <p>Potřebujete web nebo branding? Pomůžeme vám růst od prvního kroku.</p>
    <button (click)="goToWhyChooseUs()" class="btn-secondary">Prozkoumat výhody</button>
  </div>
  <div class="action-card-right">
     <img class="img1" src="../../../assets/icons/km.png" alt="Visual" />
      <img class="img2" src="../../../assets/icons/pb.png" alt="Visual" />
    <img class="img3" src="../../../assets/icons/pgp.png" alt="Visual" />
  </div>
</div>
</div>

