.main-content {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  text-align: center;
  max-width: 600px;
  margin: 0 15px;
  font-family: "Geist", sans-serif;
  font-weight: 600;
  font-size: 3rem;
  line-height: 3.5rem;
  color: #242424;
  margin-bottom: 20px;
}

p {
  align-items: center;
  max-width: 800px;
  margin: 0 15px;
  line-height: 1.5rem;
  color: #3f3f3fe0;
  font-weight: 300;
  font-size: 1rem;
  font-family: "Generalsans", sans-serif;
  margin-bottom: 40px;
  text-align: center;
}
